.update-post {
  height: 20px;
  width: 15%;
  border-radius: 10px;
  border: 2px solid grey;
  margin: 10px;
}
.button {
  height: 20px;
  width: 60px;
  color: maroon;
  border-radius: 10px;
  padding: 3px;
  border: 2px solid honeydew;
  margin: 15px;
}
